@import "tailwindcss";
@import "@workspace/ui/globals.css";
@source "../../../../packages/ui/src";
body {
  margin: 0;
  background: var(--card);
}
h1 {
  font-family: var(--font-sans);
  font-size: 1.5rem;
  line-height: 1.2;
  font-weight: 500;
  letter-spacing: -0.025em;
}
p {
  color: var(--muted-foreground);
  font-size: 0.875rem;
  line-height: 1.6;
}
header p {
  color: var(--foreground);
}
